@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    @apply m-0 p-0 box-border 
}

body{
    @apply bg-background overflow-x-hidden w-[100%]

}

/* navbar */
.nav-button{
    @apply border-y-1 border-borderColor py-2 border-l-1 px-4 bg-white text-navcolor text-sm min-w-fit	
   
}

.clicked{
    @apply hover:bg-white
   
}


/* sidebar */
.side-bar-link{
    @apply mb-0 hover:bg-background hover:rounded-lg  pl-3 pr-0 py-[5px] w-[100%]
}
.side-bar-link a{
    @apply flex justify-between items-center gap-3 text-navcolor text-base
    
}
.side-bar-text{
    @apply mt-[4px] text-base
    
}

/* section  */
.section-header{
    @apply text-lg  text-black
}





p{
    @apply text-sm  text-grey font-normal
  
}

.sub-container{
   @apply border-t-1  border-shadow pt-5  mt-3 pb-2
}


.checked{
    @apply  bg-primary-300 border-primary-100 border-1 rounded-lg flex justify-between
}


.unchecked{
    @apply  bg-white border-shadow border-1 rounded-lg flex justify-between text-black
}


/* end of section */

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
  

  
      .video::-webkit-media-controls-panel{
        display:  none;
      }
     /* .checked input[type="radio"], .unchecked input[type="radio"]{
        appearance: none;
        justify-content: center;
        align-items: center;

      }  */
      .checked input[type="radio"]:checked:before,       .unchecked input[type="radio"]:checked:before {
        content: " \2714";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #7F56D9;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    

    }
  }





/* table */
th{
@apply   p-3 text-left text-grey font-medium bg-background border-b-1 border-shadow   text-[12px]


}
td{
    @apply  h-[72px] p-3 text-left font-medium border-b-1 border-shadow  
    
    
    }

.user-pic{
    @apply    w-8 h-8 rounded-[50%] text-[#475467] bg-background border-white border-1 text-sm flex justify-center items-center
   
}

/* end of table */

.mobile-pad{
    @apply  pl-[5%] pr-[2%]
    
    }